<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main> 
    <div id="app">
      <div class="holder headline">
        <h1> Plan Your Next Destination </h1>
      </div>

      <form 
          class ="search-button" 
          onsubmit = "return Client.handlesubmit(event)"> 
           
        <label class = "search-destination" for = "Destination"> 
        <input
          type="text"
          name="destination"
          id="destination"
          placeholder="Destination"
          />
        </label>
        <label 
          class ="departure-date"
          for="departure-date"
        >
        
        <input
          type="date"
          name="departure-date"
          id="departure-date"
          placeholder=""
        />

      </label>

      <input 
         id="button-submit" 
         type="submit" 
         value="Add Trip" 
        /> 
      </form>
      
      <section id = "results"> 
        <h1> My Trips</h1>
        <h3> Date: </h3>
        <p class = "results" id = "countdown-clock"></p>
        <div class="results" id="resultsDate"></div>
        <h3 class = "results"> Destination: </h3>
        <div class = "results" id= "cityName"></div> </div>
        <div class = "results" id = "countryName"></div>
        <h4 class = "results" id = "forecast"> Weather: </h4>
        <div class= "results" id = "weatherDescription"></div>
        <h4 class = "results" id = "imagePreview"> Desintation Preview:</h4>
        <img class = "results" id = "resultsimg"> 
      </section> 
    </main> 
    <footer> 
      <p> Copyright Issa Inc.</p>
    </footer>

  </body>
</html>
