body {
    font-family: 'Lato', sans-serif;
    font-weight: 50;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

main {
    flex: 2;
}

section {
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
}

#countdown-clock{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    font-size: 15px;
    color: lightcoral;
  }
 
  #button-submit {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 3px;
  
    padding: 10px;
    margin: 2rem auto 0 auto;
    width: 200px;
    background-color: rgb(125, 110, 165);
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .1);
    transition: background-color 0.1s ease-in-out;
  
    &:hover {
      background-color: #934a93;
    }
}